<div class="penguin-example">
    <div class="alert alert--success alert--inline" role="alert" data-alert="">
        <div class="alert__content">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
    </div>

    <div class="alert alert--error alert--inline alert--center" role="alert" data-alert="">
        <div class="alert__content">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
    </div>

    <div class="alert alert--info alert--inline alert--right" role="alert" data-alert="">
        <div class="alert__content">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
    </div>
</div>