<div class="penguin-example">
    <div class="alert alert--success" role="alert" data-alert>
        <div class="alert__content">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
    </div>
    <div class="alert alert--error" role="alert" data-alert>
        <div class="alert__content">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
    </div>
    <div class="alert alert--info" role="alert" data-alert>
        <div class="alert__content">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
    </div>
    <div class="alert alert--warning" role="alert" data-alert>
        <div class="alert__content">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
    </div>
</div>