<div class="penguin-example">
    <p class="modifier">btn--primary</p>
    <div class="dropdown">
        <a href="#single_dropdown" class="dropdown__link" data-rel="dropdown">Item 1</a>
        <ul id="single_dropdown" class="dropdown__menu" role="menu" data-dropdown>
            <li class="dropdown__menu__item">
                <a href="#" class="dropdown__menu__link">Item 1</a>
            </li>
            <li class="dropdown__menu__item">
                <a href="#" class="dropdown__menu__link">Item 2</a>
            </li>
            <li class="dropdown__menu__item">
                <a href="#" class="dropdown__menu__link">Item 3</a>
            </li>
        </ul>
    </div>
</div>