<div class="penguin-example">
    <nav class="nav nav--bar" role="navigation">
        <h1 class="invisible">Navigation</h1>
        <ul class="nav__menu">
            <li class="nav__menu__item nav__menu__item--selected"><a href="#" class="nav__menu__link">Item 1</a></li>
            <li class="nav__menu__item"><a href="#" class="nav__menu__link">Item 2</a></li>
            <li class="nav__menu__item nav__menu__item--lead"><a href="#" class="nav__menu__link">Item 3</a></li>
            <li class="nav__menu__item"><a href="#" class="nav__menu__link">Item 4</a></li>
        </ul>
    </nav>
</div>