<div class="penguin-example">
    <nav class="nav nav--bar" role="navigation">
        <h1 class="invisible">Navigation</h1>
        <ul class="nav__menu">
            <li class="nav__menu__item dropdown">
                <a href="#menu1" class="nav__menu__link" data-rel="dropdown">Item 1</a>
                <ul id="menu1" class="nav__submenu" role="menu" data-dropdown="">
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 1</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 2</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 3</a></li>
                </ul>
            </li>
            <li class="nav__menu__item dropdown">
                <a href="#menu2" class="nav__menu__link" data-rel="dropdown">Item 2</a>
                <ul id="menu2" class="nav__submenu" role="menu" data-dropdown="">
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 1</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 2</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 3</a></li>
                </ul>
            </li>
            <li class="nav__menu__item dropdown">
                <a href="#menu3" class="nav__menu__link" data-rel="dropdown">Item 3</a>
                <ul id="menu3" class="nav__submenu" role="menu" data-dropdown="">
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 1</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 2</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 3</a></li>
                </ul>
            </li>
            <li class="nav__menu__item dropdown">
                <a href="#menu4" class="nav__menu__link" data-rel="dropdown">Item 4</a>
                <ul id="menu4" class="nav__submenu" role="menu" data-dropdown="">
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 1</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 2</a></li>
                    <li class="nav__submenu__item"><a href="#" class="nav__submenu__link">Item 3</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>