<div class="penguin-example">
    <div class="tab tab--stacked" data-tab="">
        <ul class="tab__block" role="tablist">
            <li class="tab__block__item"><a href="#tab1-stacked" class="tab__block__link" role="tab">Tab 1</a></li>
            <li class="tab__block__item"><a href="#tab2-stacked" class="tab__block__link" role="tab">Tab 2</a></li>
            <li class="tab__block__item"><a href="#tab3-stacked" class="tab__block__link" role="tab">Tab 3</a></li>
            <li class="tab__block__item tab__block__item--selected"><a href="#tab4-stacked" class="tab__block__link">Tab 4</a></li>
        </ul>
        <div class="tab__content">
            <div class="tab__content__item" id="tab1-stacked" role="tabpanel">Tab 1 content</div>
            <div class="tab__content__item" id="tab2-stacked" role="tabpanel">Tab 2 content</div>
            <div class="tab__content__item" id="tab3-stacked" role="tabpanel">Tab 3 content</div>
            <div class="tab__content__item tab__content__item--selected" id="tab4-stacked" role="tabpanel">Tab 4 content</div>
        </div>
    </div>
</div>