<div class="row penguin-example">
    <div class="clearfix">
        <div class="box pull-left align-left">
            Align left
        </div>
        <div class="box pull-right align-right">
            Align right
        </div>
        <div class="box center-block align-center">
            Align center
        </div>
    </div>
    <p class="align-justify">This fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified this fake text is justified and <span class="text-small">I can</span> <span class="text-medium">change</span> <span class="text-large">font size</span>. </p>
</div>