<div class="penguin-example row">
    <div class="row">
        <div class="col-a-12 col-b-6">
            <div class="box box--block hidden-a">Box hidden at 'a' breakpoint</div>
        </div>
        <div class="col-a-12 col-b-6">
            <div class="box box--block visible-a">Box visible at 'a' breakpoint</div>
        </div>
    </div>
    <div class="row">
        <div class="col-a-12 col-b-6">
            <div class="box box--block hidden-b">Box hidden at 'b' breakpoint</div>
        </div>
        <div class="col-a-12 col-b-6">
            <div class="box box--block visible-b">Box visible at 'b' breakpoint</div>
        </div>
    </div>
    <div class="row">
        <div class="col-a-12 col-b-6">
            <div class="box box--block hidden-c">Box hidden at 'c' breakpoint</div>
        </div>
        <div class="col-a-12 col-b-6">
            <div class="box box--block visible-c">Box visible at 'c' breakpoint</div>
        </div>
    </div>
    <div class="row">
        <div class="col-a-12 col-b-6">
            <div class="box box--block hidden-d">Box hidden at 'd' breakpoint</div>
        </div>
        <div class="col-a-12 col-b-6">
            <div class="box box--block visible-d">Box visible at 'd' breakpoint</div>
        </div>
    </div>
    <div class="row">
        <div class="col-a-12 col-b-6">
            <div class="box box--block hidden-e">Box hidden at 'e' breakpoint</div>
        </div>
        <div class="col-a-12 col-b-6">
            <div class="box box--block visible-e">Box visible at 'e' breakpoint</div>
        </div>
    </div>
</div>