<div class="penguin-example">
    <section class="banner">
        <h1 class="invisible">Banners</h1>
        <ul class="banner__content">
            <li class="banner__content__item">
                <a class="banner__content__link" href="#">
                    <img src="/assets/img/image.png" alt="Description" />
                </a>
            </li>
            <li class="banner__content__item">
                <a class="banner__content__link" href="#">
                    <img src="/assets/img/image.png" alt="Description" />
                </a>
            </li>
            <li class="banner__content__item">
                <a class="banner__content__link" href="#">
                    <img src="/assets/img/image.png" alt="Description" />
                </a>
            </li>
            <li class="banner__content__item">
                <a class="banner__content__link" href="#">
                    <img src="/assets/img/image.png" alt="Description" />
                </a>
            </li>
            <li class="banner__content__item">
                <a class="banner__content__link" href="#">
                    <img src="/assets/img/image.png" alt="Description" />
                </a>
            </li>
        </ul>
    </section>
</div>