<div class="penguin-example penguin-example--margin">
    <div class="form">
        <form id="form-custom-example">
            <fieldset>
                <legend>Select</legend>
                <!-- select custom -->
                <div class="form-control">
                    <label for="select-example" class="invisible">Select</label>
                    <span class="input input--select input--example">
                        <select id="select-example" name="select">
                            <option>Item 1</option>
                            <option>Item 2</option>
                            <option>Item 3</option>
                            <option>Item 4</option>
                            <option>Item 5</option>
                        </select>
                    </span>
                </div>
                <!-- input type="checkbox" -->
                <fieldset>
                    <legend>Checkbox</legend>

                    <div class="form-control">
                        <span class="input input--checkbox input--example">
                            <input type="checkbox" id="check-example-1" name="check-example-1">
                            <label for="check-example-1">Checkbox 1</label>
                        </span>
                    </div>
                    <div class="form-control">
                        <span class="input input--checkbox input--example">
                            <input type="checkbox" id="check-example-2" name="check-example-2">
                            <label for="check-example-2">Checkbox 2</label>
                        </span>
                    </div>
                </fieldset>
                <!-- input type="radio" -->
                <fieldset>
                    <legend>Radios</legend>
                    <div class="form-control form-control--inline">
                        <span class="input input--radio input--example">
                            <input type="radio" id="radio-example-1" name="radio-example" value="radio-1">
                            <label for="radio-example-1">Radio 1</label>
                        </span>
                    </div>
                    <div class="form-control form-control--inline">
                        <span class="input input--radio input--example">
                            <input type="radio" id="radio-example-2" name="radio-example" value="radio-2">
                            <label for="radio-example-2">Radio 2</label>
                        </span>
                    </div>
                </fieldset>
            </fieldset>
        </form>
    </div>
</div>