<div class="penguin-example">
    <div class="form">
        <form id="form-custom">
            <fieldset>
                <legend>Select</legend>
                <!-- select custom -->
                <div class="form-control">
                    <label for="select" class="invisible">Select</label>
                    <span class="input input--custom">
                        <select id="select-custom" name="select-custom">
                            <option>Item 1</option>
                            <option>Item 2</option>
                            <option>Item 3</option>
                            <option>Item 4</option>
                            <option>Item 5</option>
                        </select>
                    </span>
                </div>
            </fieldset>
            <!-- input type="checkbox" -->
            <fieldset>
                <legend>Checkbox</legend>

                <div class="form-control">
                    <span class="input input--checkbox input--custom">
                        <input type="checkbox" id="checkbox-1-custom" name="remember">
                        <label for="checkbox-1-custom">Checkbox 1</label>
                    </span>
                </div>
                <div class="form-control">
                    <span class="input input--checkbox input--custom">
                        <input type="checkbox" id="checkbox-2-custom" name="remember">
                    </span>
                    <label for="checkbox-2-custom">Checkbox 2</label>
                </div>
            </fieldset>
            <!-- input type="radio" -->
            <fieldset>
                <legend>Radios</legend>
                <div class="form-control form-control--inline">
                    <span class="input input--radio input--custom">
                        <input type="radio" id="radio-1-custom" name="radio-custom" value="radio-1">
                    </span>
                    <label for="radio-1-custom">Radio 1</label>
                </div>
                <div class="form-control form-control--inline">
                    <span class="input input--radio input--custom">
                        <input type="radio" id="radio-2-custom" name="radio-custom" value="radio-2">
                    </span>
                    <label for="radio-2-custom">Radio 2</label>
                </div>
            </fieldset>
        </form>
    </div>
</div>