<div class="penguin-example">
    <div class="form">
        <form>
            <fieldset>
                <legend>Legend</legend>
                <div class="row row--collapse">
                    <div class="col-a-3">
                        <div class="form-control">
                            <label for="name-4col">Username</label>
                            <span class="input">
                                <input id="name-4col" type="text" name="user">
                            </span>
                        </div>
                    </div>
                    <div class="col-a-3">
                        <div class="form-control">
                            <label for="email-4col">Email</label>
                            <span class="input">
                                <input type="email" id="email-4col" name="email-4col">
                            </span>
                        </div>
                    </div>
                    <div class="col-a-3">
                        <div class="form-control">
                            <label for="password-4col">Password</label>
                            <span class="input">
                                <input type="password" id="password-4col" name="password">
                            </span>
                        </div>
                    </div>
                    <div class="col-a-3">
                        <div class="form-control">
                            <label for="user-name-4col">Full name</label>
                            <span class="input">
                                <input id="user-name-4col" type="text" name="user-name-4col">
                            </span>
                        </div>
                    </div>
                    <div class="col-a-3">
                        <div class="form-control">
                            <label for="address-4col">Address</label>
                            <span class="input">
                                <input id="address-4col" type="text" name="address-4col">
                            </span>
                        </div>
                    </div>
                    <div class="col-a-3">
                        <fieldset class="form-control--inline">
                            <legend>Sex</legend>
                            <div class="form-control form-control--inline">
                                <span class="input input--radio">
                                    <input type="radio" id="male-4col" name="sex" value="male">
                                </span>
                                <label for="male-4col">Male</label>
                            </div>
                            <div class="form-control form-control--inline">
                                <span class="input input--radio">
                                    <input type="radio" id="female-4col" name="sex" value="female">
                                </span>
                                <label for="female-4col">Female</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row row--collapse">
                    <div class="col-a-12">
                        <input type="submit" class="btn btn--primary" value="Submit">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>