<div class="penguin-example">
    <div class="form">
        <form id="form-2col">
            <div class="row">
                <div class="col-a-6">
                    <fieldset>
                        <legend>Account data</legend>
                        <div class="form-control">
                            <label for="name-2col">Username</label>
                            <span class="input">
                                <input id="name-2col" type="text" name="user">
                            </span>
                        </div>
                        <div class="form-control">
                            <label for="email-2col">Email</label>
                            <span class="input">
                                <input type="email" id="email-2col" name="email">
                            </span>
                        </div>
                        <div class="form-control">
                            <label for="password-2col">Password</label>
                            <span class="input">
                                <input type="password" id="password-2col" name="password">
                            </span>
                        </div>
                    </fieldset>
                </div>
                <div class="col-a-6">
                    <fieldset>
                        <legend>User data</legend>
                        <div class="form-control">
                            <label for="user-name-2col">Full name</label>
                            <span class="input">
                                <input id="user-name-2col" type="text" name="user-name">
                            </span>
                        </div>
                        <div class="form-control">
                            <label for="address-2col">Address</label>
                            <span class="input">
                                <input id="address-2col" type="text" name="address">
                            </span>
                        </div>
                        <fieldset>
                            <legend>Sex</legend>
                            <div class="form-control form-control--inline">
                                <span class="input input--radio">
                                    <input type="radio" id="male-2col" name="sex" value="male">
                                </span>
                                <label for="male-2col">Male</label>
                            </div>
                            <div class="form-control form-control--inline">
                                <span class="input input--radio">
                                    <input type="radio" id="female-2col" name="sex" value="female">
                                </span>
                                <label for="female-2col">Female</label>
                            </div>
                        </fieldset>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-a-12">
                    <ul class="btn-group align-right">
                        <li class="btn-group__item">
                            <input type="reset" class="btn btn--secondary" value="Reset">
                        </li>
                        <li class="btn-group__item">
                            <input type="submit" class="btn btn--primary" value="Submit">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>