<div class="penguin-example">
    <div class="form">
        <form>
            <fieldset>
                <legend>Sign in</legend>
                <div class="form-control form-control--warn">
                    <div class="row row--inline row--collapse">
                        <div class="col-a-12 col-d-2">
                            <label for="email-horizontal">Email</label>
                        </div>
                        <div class="col-a-12 col-d-10">
                            <span class="input">
                                <input type="email" id="email-horizontal">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-control">
                    <div class="row row--inline row--collapse">
                        <div class="col-a-12 col-d-2">
                            <label for="password-horizontal">Contraseña</label>
                        </div>
                        <div class="col-a-12 col-d-10">
                            <span class="input">
                                <input type="password" id="password-horizontal">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row row--collapse">
                    <div class="col-md-offset-2 col-lg-offset-2 col-lg-10">
                        <div class="form-control">
                            <div class="input input--checkbox">
                                <input type="checkbox" id="remember-horizontal" name="remember">
                            </div>
                            <label for="remember-horizontal">Remember me</label>
                        </div>
                        <ul class="btn-group">
                            <li class="btn-group__item">
                                <input type="submit" class="btn btn--primary" value="Login">
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>