<div class="penguin-example">
    <table class="table table--stacked">
        <thead>
            <tr>
                <th>Heading 1</th>
                <th>Heading 2</th>
                <th>Heading 3</th>
                <th>Heading 4</th>
                <th>Heading 5</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5">table footer</td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td data-header="Heading 1"><a href="">Cell 1.1</a></td>
                <td data-header="Heading 2">Cell 1.2</td>
                <td data-header="Heading 3">Cell 1.3</td>
                <td data-header="Heading 4">Cell 1.4</td>
                <td data-header="Heading 5">Cell 1.5</td>
            </tr>
            <tr>
                <td data-header="Heading 1"><a href="">Cell 2.1</a></td>
                <td data-header="Heading 2">Cell 2.2</td>
                <td data-header="Heading 3">Cell 2.3</td>
                <td data-header="Heading 4">Cell 2.4</td>
                <td data-header="Heading 5">Cell 2.5</td>
            </tr>
        </tbody>
    </table>
</div>
